<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<style>
    table{
        margin: 10px;
        white-space: pre-line;
    }
    thead{
        background: antiquewhite;
    }
    td{
        padding: 2px 4px;
    }
</style>
<script>
    function htmlDecodeByRegExp(str) {
        var s = "";
        if (str.length == 0) return "";
        s = str.replace(/&amp;/g, "&");
        s = s.replace(/&lt;/g, "<");
        s = s.replace(/&gt;/g, ">");
        s = s.replace(/&nbsp;/g, " ");
        s = s.replace(/&#39;/g, "\'");
        s = s.replace(/&quot;/g, "\"");
        s = s.replace(/&#34;/g, '"');
        s = s.replace(/&#60;/g, '<');
        s = s.replace(/&#62;/g, '>');
        return s;
    }
    $(function (){

        function getDataSource(){
            let datasource = "{{datasource}}";
            datasource = htmlDecodeByRegExp(datasource);
/*            datasource = datasource.replace(/&#34;/g, '"');
            datasource = datasource.replace(/&#60;/g, '<');
            datasource = datasource.replace(/&#62;/g, '>');*/
            datasource = eval("datasource")
            datasource = JSON.parse(datasource)
            return datasource;
        }


        let datasource = getDataSource();
        const {list, columns} = datasource;

        let titles = columns.map(item => {
            return `<td>${item.title}</td>`
        }).join("")

        $("thead>tr").html(titles);


        list.map(record => {

            let tr = $('<tr></tr>');

            columns.map(item => {
                if(record[item.dataIndex]){
                    let td = $("<td></td>");
                    td[0].innerHTML = record[item.dataIndex].text
                    tr.append(td)
                }
            })

            $("tbody").append(tr)


        })
    })
</script>
<body>

    <table border="1">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>
