<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                {{each columnItem=columns}}
                    <td>{{columnItem.title}} 111</td>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{each item=list}}
            <tr>
                {{each columnItem=columns}}
                    <td>{{columnItem.title}} 222</td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
