<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table{
        margin: 10px;
    }
    thead{
        background: antiquewhite;
    }
</style>
<body>

    <table border="1">
        <thead>
            <tr>
                {{each columns as columnItem}}
                    <td>{{columnItem.title}}</td>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{each list as record}}
            <tr>
                {{each columns as columnItem}}
                    <td>

                        {{record[columnItem.dataIndex] && record[columnItem.dataIndex].text}}
                    </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
