<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <pre style="font-size: 18px">

        <%=
            JSON.stringify(msg, undefined, 2)
        %>
    </pre>
</body>
</html>
